[Unit]
Description=DEEPi Service

[Service]
User=pi
WorkingDirectory=/home/pi/deepi-python
ExecStart=/home/pi/deepi-python/deploy

[Install]
WantedBy=multi-user.target