[Unit]
Description=DEEPi Service
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/deepi-python
Environment="PATH=/home/pi/deepi-python/venv/bin"
ExecStart=/home/pi/pistreamingapp/venv/bin/gunicorn --workers 1 --bind unix:/home/pi/pistreamingapp/pistreaming.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target